/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  label, select, button {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  #checklistContainer {
    margin-top: 30px;
    display: none;
  }
  
  #emergencyContacts {
    margin-top: 30px;
    display: none;
  }*/




  /*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  label, select, button {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #checklistContainer {
    margin-top: 30px;
    display: none;
  }
  
  #emergencyContacts {
    margin-top: 30px;
    display: none;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }*/



  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  label, select, button {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #checklistContainer {
    margin-top: 30px;
    display: none;
  }
  
  #emergencyContacts {
    margin-top: 30px;
    display: none;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  @media only screen and (max-width: 600px) {
    form {
      max-width: 100%;
    }
  }
  
  
  